In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error
import warnings
warnings.filterwarnings("ignore")
import numpy as np

## чтение данных и начальный анализ

In [2]:
train = pd.read_csv("train.csv")
train

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
0,0,2011-1,560,NaN,2,59,3,0,30.0,1.0,...,0,0,0,0,0,0,0,0,0,4510000
1,1,2011-1,667,NaN,10,50,2,1,25.0,NaN,...,0,0,0,0,0,0,0,0,0,13231000
2,2,2011-1,90,0.0,1,48,2,0,25.0,0.0,...,0,0,0,0,0,0,0,0,0,2008000
3,3,2011-1,94,1.0,3,62,3,1,30.0,NaN,...,0,0,0,0,0,0,0,0,0,12680000
4,4,2011-1,232,0.0,3,60,3,0,25.0,NaN,...,0,0,0,0,0,0,0,0,0,3335000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,2012-3,401,0.0,5,30,1,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,1697000
99996,99996,2012-3,59,0.0,4,34,1,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,3620000
99997,99997,2012-3,253,NaN,3,52,2,0,5.0,NaN,...,0,0,0,0,0,0,0,0,0,6712000
99998,99998,2012-3,305,1.0,3,181,5,1,5.0,NaN,...,0,0,0,0,0,0,0,0,0,20835000
99999,99999,2012-3,482,0.0,7,57,2,0,5.0,0.0,...,0,0,0,0,0,0,0,0,0,2909000

In [3]:
test = pd.read_csv("test.csv")
test

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw4,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13
0,100000,2012-3,459,NaN,1,60,3,1,30.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,100001,2012-3,344,1.0,10,52,2,1,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,100002,2012-3,585,0.0,4,54,3,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,100003,2012-3,494,NaN,2,52,2,1,25.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,100004,2012-3,622,1.0,9,60,3,1,15.0,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,2013-9,613,1.0,2,34,1,1,25.0,NaN,...,0,0,0,0,0,0,0,0,0,0
99996,199996,2013-9,167,1.0,10,61,3,1,30.0,NaN,...,0,0,0,0,0,0,0,0,0,0
99997,199997,2013-9,391,1.0,9,34,1,1,30.0,NaN,...,0,0,0,0,0,0,0,0,0,0
99998,199998,2013-9,21,0.0,7,58,3,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,0
99999,199999,2013-9,409,0.0,11,33,1,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
train.describe()

,id,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,n_photos,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
count,100000.000000,100000.000000,70265.000000,100000.000000,100000.00000,100000.000000,100000.000000,95104.000000,70008.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.00000,1.000000e+05
mean,49999.500000,334.479290,0.529837,5.267680,52.25343,2.118680,0.396740,22.154431,0.500986,2.470910,...,0.004360,0.001430,0.000940,0.007910,0.007890,0.00218,0.000320,0.001210,0.00021,5.138396e+06
std,28867.657797,194.004755,0.573645,3.905558,17.79250,0.829688,0.547632,8.286241,0.500003,1.944981,...,0.065887,0.037788,0.030645,0.088586,0.088475,0.04664,0.017886,0.034764,0.01449,4.187469e+06
min,0.000000,0.000000,0.000000,1.000000,29.00000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,4.480000e+05
25%,24999.750000,167.000000,0.000000,2.000000,40.00000,1.000000,0.000000,15.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,2.644000e+06
50%,49999.500000,334.000000,0.000000,4.000000,52.00000,2.000000,0.000000,25.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,4.090000e+06
75%,74999.250000,501.000000,1.000000,7.000000,60.00000,3.000000,1.000000,30.000000,1.000000,4.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.00000,6.281000e+06
max,99999.000000,671.000000,2.000000,25.000000,217.00000,6.000000,2.000000,30.000000,1.000000,11.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.00000,8.054800e+07

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          100000 non-null  int64
 1   date        100000 non-null  object
 2   street_id   100000 non-null  int64
 3   build_tech  70265 non-null   float64
 4   floor       100000 non-null  int64
 5   area        100000 non-null  int64
 6   rooms       100000 non-null  int64
 7   balcon      100000 non-null  int64
 8   metro_dist  95104 non-null   float64
 9   g_lift      70008 non-null   float64
 10  n_photos    100000 non-null  int64
 11  kw1         100000 non-null  int64
 12  kw2         100000 non-null  int64
 13  kw3         100000 non-null  int64
 14  kw4         100000 non-null  int64
 15  kw5         100000 non-null  int64
 16  kw6         100000 non-null  int64
 17  kw7         100000 non-null  int64
 18  kw8         100000 non-null  int64
 19  kw9         100000 non-null  int64
 20  kw10        100000 non-null  int64
 21  kw11        100000 non-null  int64
 22  kw12        100000 non-null  int64
 23  kw13        100000 non-null  int64
 24  price       100000 non-null  int64
dtypes: float64(3), int64(21), object(1)
memory usage: 19.1+ MB

## работа с временем

In [6]:
type(train["date"][0])

str

In [7]:
datetime = pd.DatetimeIndex(train["date"])
datetime

DatetimeIndex(['2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01', '2011-01-01', '2011-01-01',
               '2011-01-01', '2011-01-01',
               ...
               '2012-03-01', '2012-03-01', '2012-03-01', '2012-03-01',
               '2012-03-01', '2012-03-01', '2012-03-01', '2012-03-01',
               '2012-03-01', '2012-03-01'],
              dtype='datetime64[ns]', name='date', length=100000, freq=None)

In [8]:
datetime = (datetime.year - 2011) * 12 + datetime.month
datetime

Int64Index([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
            ...
            15, 15, 15, 15, 15, 15, 15, 15, 15, 15],
           dtype='int64', name='date', length=100000)

In [9]:
train["date"] = datetime
train

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13,price
0,0,1,560,NaN,2,59,3,0,30.0,1.0,...,0,0,0,0,0,0,0,0,0,4510000
1,1,1,667,NaN,10,50,2,1,25.0,NaN,...,0,0,0,0,0,0,0,0,0,13231000
2,2,1,90,0.0,1,48,2,0,25.0,0.0,...,0,0,0,0,0,0,0,0,0,2008000
3,3,1,94,1.0,3,62,3,1,30.0,NaN,...,0,0,0,0,0,0,0,0,0,12680000
4,4,1,232,0.0,3,60,3,0,25.0,NaN,...,0,0,0,0,0,0,0,0,0,3335000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,15,401,0.0,5,30,1,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,1697000
99996,99996,15,59,0.0,4,34,1,0,30.0,NaN,...,0,0,0,0,0,0,0,0,0,3620000
99997,99997,15,253,NaN,3,52,2,0,5.0,NaN,...,0,0,0,0,0,0,0,0,0,6712000
99998,99998,15,305,1.0,3,181,5,1,5.0,NaN,...,0,0,0,0,0,0,0,0,0,20835000
99999,99999,15,482,0.0,7,57,2,0,5.0,0.0,...,0,0,0,0,0,0,0,0,0,2909000

# filling Null

In [10]:
train = train.fillna(train.mean())

In [11]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          100000 non-null  int64
 1   date        100000 non-null  int64
 2   street_id   100000 non-null  int64
 3   build_tech  100000 non-null  float64
 4   floor       100000 non-null  int64
 5   area        100000 non-null  int64
 6   rooms       100000 non-null  int64
 7   balcon      100000 non-null  int64
 8   metro_dist  100000 non-null  float64
 9   g_lift      100000 non-null  float64
 10  n_photos    100000 non-null  int64
 11  kw1         100000 non-null  int64
 12  kw2         100000 non-null  int64
 13  kw3         100000 non-null  int64
 14  kw4         100000 non-null  int64
 15  kw5         100000 non-null  int64
 16  kw6         100000 non-null  int64
 17  kw7         100000 non-null  int64
 18  kw8         100000 non-null  int64
 19  kw9         100000 non-null  int64
 20  kw10        100000 non-null  int64
 21  kw11        100000 non-null  int64
 22  kw12        100000 non-null  int64
 23  kw13        100000 non-null  int64
 24  price       100000 non-null  int64
dtypes: float64(3), int64(22)
memory usage: 19.1 MB

In [12]:
test["date"] = (pd.DatetimeIndex(test["date"]).year - 2011)*12 + pd.DatetimeIndex(test["date"]).month
test

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw4,kw5,kw6,kw7,kw8,kw9,kw10,kw11,kw12,kw13
0,100000,15,459,NaN,1,60,3,1,30.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,100001,15,344,1.0,10,52,2,1,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,100002,15,585,0.0,4,54,3,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,100003,15,494,NaN,2,52,2,1,25.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,100004,15,622,1.0,9,60,3,1,15.0,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,199995,33,613,1.0,2,34,1,1,25.0,NaN,...,0,0,0,0,0,0,0,0,0,0
99996,199996,33,167,1.0,10,61,3,1,30.0,NaN,...,0,0,0,0,0,0,0,0,0,0
99997,199997,33,391,1.0,9,34,1,1,30.0,NaN,...,0,0,0,0,0,0,0,0,0,0
99998,199998,33,21,0.0,7,58,3,0,30.0,0.0,...,0,0,0,0,0,0,0,0,0,0
99999,199999,33,409,0.0,11,33,1,0,NaN,0.0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
test = test.fillna(train.mean())

In [14]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          100000 non-null  int64
 1   date        100000 non-null  int64
 2   street_id   100000 non-null  int64
 3   build_tech  100000 non-null  float64
 4   floor       100000 non-null  int64
 5   area        100000 non-null  int64
 6   rooms       100000 non-null  int64
 7   balcon      100000 non-null  int64
 8   metro_dist  100000 non-null  float64
 9   g_lift      100000 non-null  float64
 10  n_photos    100000 non-null  int64
 11  kw1         100000 non-null  int64
 12  kw2         100000 non-null  int64
 13  kw3         100000 non-null  int64
 14  kw4         100000 non-null  int64
 15  kw5         100000 non-null  int64
 16  kw6         100000 non-null  int64
 17  kw7         100000 non-null  int64
 18  kw8         100000 non-null  int64
 19  kw9         100000 non-null  int64
 20  kw10        100000 non-null  int64
 21  kw11        100000 non-null  int64
 22  kw12        100000 non-null  int64
 23  kw13        100000 non-null  int64
dtypes: float64(3), int64(21)
memory usage: 18.3 MB

## разбиение для fit

In [35]:
X = train.drop(columns=["price"])
X

,id,date,street_id,build_tech,floor,area,rooms,balcon,metro_dist,g_lift,...,kw7,kw8,kw9,kw10,kw11,kw12,kw13,area_per_room,build_tech_and_balcon,build_tech_and_balcon_and_area
0,0,1,560,0.529837,2,59,3,0,30.0,1.000000,...,0,0,0,0,0,0,0,19.666667,0.000000,0.000000
1,1,1,667,0.529837,10,50,2,1,25.0,0.500986,...,0,0,0,0,0,0,0,25.000000,0.529837,26.491852
2,2,1,90,0.000000,1,48,2,0,25.0,0.000000,...,0,0,0,0,0,0,0,24.000000,0.000000,0.000000
3,3,1,94,1.000000,3,62,3,1,30.0,0.500986,...,0,0,0,0,0,0,0,20.666667,1.000000,62.000000
4,4,1,232,0.000000,3,60,3,0,25.0,0.500986,...,0,0,0,0,0,0,0,20.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,15,401,0.000000,5,30,1,0,30.0,0.500986,...,0,0,0,0,0,0,0,30.000000,0.000000,0.000000
99996,99996,15,59,0.000000,4,34,1,0,30.0,0.500986,...,0,0,0,0,0,0,0,34.000000,0.000000,0.000000
99997,99997,15,253,0.529837,3,52,2,0,5.0,0.500986,...,0,0,0,0,0,0,0,26.000000,0.000000,0.000000
99998,99998,15,305,1.000000,3,181,5,1,5.0,0.500986,...,0,0,0,0,0,0,0,36.200000,1.000000,181.000000
99999,99999,15,482,0.000000,7,57,2,0,5.0,0.000000,...,0,0,0,0,0,0,0,28.500000,0.000000,0.000000

In [36]:
y = train["price"]
y

0         4510000
1        13231000
2         2008000
3        12680000
4         3335000
           ...
99995     1697000
99996     3620000
99997     6712000
99998    20835000
99999     2909000
Name: price, Length: 100000, dtype: int64

# добавляем новые фичи

In [17]:
train["area_per_room"] = train["area"]/train["rooms"]
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             100000 non-null  int64
 1   date           100000 non-null  int64
 2   street_id      100000 non-null  int64
 3   build_tech     100000 non-null  float64
 4   floor          100000 non-null  int64
 5   area           100000 non-null  int64
 6   rooms          100000 non-null  int64
 7   balcon         100000 non-null  int64
 8   metro_dist     100000 non-null  float64
 9   g_lift         100000 non-null  float64
 10  n_photos       100000 non-null  int64
 11  kw1            100000 non-null  int64
 12  kw2            100000 non-null  int64
 13  kw3            100000 non-null  int64
 14  kw4            100000 non-null  int64
 15  kw5            100000 non-null  int64
 16  kw6            100000 non-null  int64
 17  kw7            100000 non-null  int64
 18  kw8            100000 non-null  int64
 19  kw9            100000 non-null  int64
 20  kw10           100000 non-null  int64
 21  kw11           100000 non-null  int64
 22  kw12           100000 non-null  int64
 23  kw13           100000 non-null  int64
 24  price          100000 non-null  int64
 25  area_per_room  100000 non-null  float64
dtypes: float64(4), int64(22)
memory usage: 19.8 MB

In [18]:
test["area_per_room"] = test["area"]/test["rooms"]
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 25 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id             100000 non-null  int64
 1   date           100000 non-null  int64
 2   street_id      100000 non-null  int64
 3   build_tech     100000 non-null  float64
 4   floor          100000 non-null  int64
 5   area           100000 non-null  int64
 6   rooms          100000 non-null  int64
 7   balcon         100000 non-null  int64
 8   metro_dist     100000 non-null  float64
 9   g_lift         100000 non-null  float64
 10  n_photos       100000 non-null  int64
 11  kw1            100000 non-null  int64
 12  kw2            100000 non-null  int64
 13  kw3            100000 non-null  int64
 14  kw4            100000 non-null  int64
 15  kw5            100000 non-null  int64
 16  kw6            100000 non-null  int64
 17  kw7            100000 non-null  int64
 18  kw8            100000 non-null  int64
 19  kw9            100000 non-null  int64
 20  kw10           100000 non-null  int64
 21  kw11           100000 non-null  int64
 22  kw12           100000 non-null  int64
 23  kw13           100000 non-null  int64
 24  area_per_room  100000 non-null  float64
dtypes: float64(4), int64(21)
memory usage: 19.1 MB

In [28]:
corr = train.corr()
corr.style.background_gradient(cmap='coolwarm')

build_tech\*balcon
build_tech\*balcon\*area

In [20]:
corr = train.corr()
corr.style.background_gradient(cmap='coolwarm')

In [24]:
train["build_tech_and_balcon"] = train["build_tech"]*train["balcon"]
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     100000 non-null  int64
 1   date                   100000 non-null  int64
 2   street_id              100000 non-null  int64
 3   build_tech             100000 non-null  float64
 4   floor                  100000 non-null  int64
 5   area                   100000 non-null  int64
 6   rooms                  100000 non-null  int64
 7   balcon                 100000 non-null  int64
 8   metro_dist             100000 non-null  float64
 9   g_lift                 100000 non-null  float64
 10  n_photos               100000 non-null  int64
 11  kw1                    100000 non-null  int64
 12  kw2                    100000 non-null  int64
 13  kw3                    100000 non-null  int64
 14  kw4                    100000 non-null  int64
 15  kw5                    100000 non-null  int64
 16  kw6                    100000 non-null  int64
 17  kw7                    100000 non-null  int64
 18  kw8                    100000 non-null  int64
 19  kw9                    100000 non-null  int64
 20  kw10                   100000 non-null  int64
 21  kw11                   100000 non-null  int64
 22  kw12                   100000 non-null  int64
 23  kw13                   100000 non-null  int64
 24  price                  100000 non-null  int64
 25  area_per_room          100000 non-null  float64
 26  build_tech_and_balcon  100000 non-null  float64
dtypes: float64(5), int64(22)
memory usage: 20.6 MB

In [26]:
test["build_tech_and_balcon"] = test["build_tech"]*test["balcon"]
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   id                     100000 non-null  int64
 1   date                   100000 non-null  int64
 2   street_id              100000 non-null  int64
 3   build_tech             100000 non-null  float64
 4   floor                  100000 non-null  int64
 5   area                   100000 non-null  int64
 6   rooms                  100000 non-null  int64
 7   balcon                 100000 non-null  int64
 8   metro_dist             100000 non-null  float64
 9   g_lift                 100000 non-null  float64
 10  n_photos               100000 non-null  int64
 11  kw1                    100000 non-null  int64
 12  kw2                    100000 non-null  int64
 13  kw3                    100000 non-null  int64
 14  kw4                    100000 non-null  int64
 15  kw5                    100000 non-null  int64
 16  kw6                    100000 non-null  int64
 17  kw7                    100000 non-null  int64
 18  kw8                    100000 non-null  int64
 19  kw9                    100000 non-null  int64
 20  kw10                   100000 non-null  int64
 21  kw11                   100000 non-null  int64
 22  kw12                   100000 non-null  int64
 23  kw13                   100000 non-null  int64
 24  area_per_room          100000 non-null  float64
 25  build_tech_and_balcon  100000 non-null  float64
dtypes: float64(5), int64(21)
memory usage: 19.8 MB

In [25]:
train["build_tech_and_balcon_and_area"] = train["build_tech"]*train["balcon"]*train["area"]
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              100000 non-null  int64
 1   date                            100000 non-null  int64
 2   street_id                       100000 non-null  int64
 3   build_tech                      100000 non-null  float64
 4   floor                           100000 non-null  int64
 5   area                            100000 non-null  int64
 6   rooms                           100000 non-null  int64
 7   balcon                          100000 non-null  int64
 8   metro_dist                      100000 non-null  float64
 9   g_lift                          100000 non-null  float64
 10  n_photos                        100000 non-null  int64
 11  kw1                             100000 non-null  int64
 12  kw2                             100000 non-null  int64
 13  kw3                             100000 non-null  int64
 14  kw4                             100000 non-null  int64
 15  kw5                             100000 non-null  int64
 16  kw6                             100000 non-null  int64
 17  kw7                             100000 non-null  int64
 18  kw8                             100000 non-null  int64
 19  kw9                             100000 non-null  int64
 20  kw10                            100000 non-null  int64
 21  kw11                            100000 non-null  int64
 22  kw12                            100000 non-null  int64
 23  kw13                            100000 non-null  int64
 24  price                           100000 non-null  int64
 25  area_per_room                   100000 non-null  float64
 26  build_tech_and_balcon           100000 non-null  float64
 27  build_tech_and_balcon_and_area  100000 non-null  float64
dtypes: float64(6), int64(22)
memory usage: 21.4 MB

In [27]:
test["build_tech_and_balcon_and_area"] = test["build_tech"]*test["balcon"]*test["area"]
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 27 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              100000 non-null  int64
 1   date                            100000 non-null  int64
 2   street_id                       100000 non-null  int64
 3   build_tech                      100000 non-null  float64
 4   floor                           100000 non-null  int64
 5   area                            100000 non-null  int64
 6   rooms                           100000 non-null  int64
 7   balcon                          100000 non-null  int64
 8   metro_dist                      100000 non-null  float64
 9   g_lift                          100000 non-null  float64
 10  n_photos                        100000 non-null  int64
 11  kw1                             100000 non-null  int64
 12  kw2                             100000 non-null  int64
 13  kw3                             100000 non-null  int64
 14  kw4                             100000 non-null  int64
 15  kw5                             100000 non-null  int64
 16  kw6                             100000 non-null  int64
 17  kw7                             100000 non-null  int64
 18  kw8                             100000 non-null  int64
 19  kw9                             100000 non-null  int64
 20  kw10                            100000 non-null  int64
 21  kw11                            100000 non-null  int64
 22  kw12                            100000 non-null  int64
 23  kw13                            100000 non-null  int64
 24  area_per_room                   100000 non-null  float64
 25  build_tech_and_balcon           100000 non-null  float64
 26  build_tech_and_balcon_and_area  100000 non-null  float64
dtypes: float64(6), int64(21)
memory usage: 20.6 MB

# нормализация и обучение

In [29]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, RobustScaler, MinMaxScaler, MaxAbsScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

In [30]:
from catboost import CatBoostRegressor

In [19]:
# RobustScaler_CatBoostRegressor_10000_42_MSE 3.2384028969256014e-7 
num_pipeline = Pipeline([
    ('scaler', RobustScaler())
])

In [27]:
# MinMaxScaler_CatBoostRegressor_10000_42_MSE 3.2384028969256014e-7
num_pipeline = Pipeline([
    ('scaler', MinMaxScaler())
])

In [31]:
# best 3.2384028969256014e-7
num_pipeline = Pipeline([
    ('scaler', StandardScaler())
])

In [49]:
categorial_features = ('street_id', 'balcon', 'rooms')
numeric_features = ('date', 'g_lift', 'build_tech',
                    'floor', 'area', 'metro_dist',
                    'kw1', 'kw2', 'kw3',
                    'kw4', 'kw5', 'kw6',
                    'kw7', 'kw8', 'kw9',
                    'kw10', 'kw11', 'kw12',
                    'kw13', "area_per_room", "build_tech_and_balcon", "build_tech_and_balcon_and_area")
# id - не помогает)

In [56]:
pipe = Pipeline([
    ('preproc', ColumnTransformer([
            ('numeric', num_pipeline, numeric_features),
            ('categorial', OneHotEncoder(), categorial_features)
        ]
    )),
    ('grad_boost', CatBoostRegressor(iterations=10_000_000,
                           task_type="GPU",
                           devices='0', silent=True))
])

In [ ]:
pipe.fit(X, y)

In [ ]:
ans = pd.read_csv("sample_submission.csv")
ans

In [ ]:
res = pipe.predict(test)
res

In [ ]:
ans["price"] = res
ans

In [ ]:
ans.to_csv("StandardScaler_CatBoostRegressor_10_000_000_new_feature.csv", index=False)